<% html_title "Imputations" %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag "plugin.css", :plugin => "better_timeentries", :media => "screen" %>
<% end %>

<h2>Imputations</h2>

<h3><%= @user.firstname %> <%= @user.lastname %></h3>

<%= form_tag({ :controller => 'timeentries', :action => 'index' },
            :method => :get, :id => 'query_form') do %>
    <div id="query_form_with_buttons" class="hide-when-print">
        <fieldset id="options" class="collapsible">
        <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
        <div>
            <table>
              <tr>
                <td class="field">User</td>
                <td>
                    <select name="user">
                        <% @users.each do |u| %>
                            <option value="<%= u.login %>"<% if @user.id == u.id %> selected<% end %>><%= u.firstname %> <%= u.lastname %></option>
                        <% end %>
                    </select>
                </td>
              </tr>
              <tr>
                <td class="field">Month</td>
                <td>
                    <select name="month">
                        <% (1..12).each do |m| %>
                            <option value="<%= m %>"<% if @now.month == m %> selected<% end %>><%= Date::MONTHNAMES[m] %></option>
                        <% end %>
                    </select>
                </td>
              </tr>
              <tr>
                <td class="field">Year</td>
                <td>
                    <select name="year">
                        <% (@now.year - 10..@now.year).each do |y| %>
                            <option value="<%= y %>"<% if @now.year == y %> selected<% end %>><%= y %></option>
                        <% end %>
                    </select>
                </td>
              </tr>
              <tr>
                <td class="field">Show non-imputed projects</td>
                <td>
                    <input type="checkbox" name="show_non_imputed"<%if @show_non_imputed %> checked<% end %> />
                </td>
              </tr>
              <tr>
                <td class="field">Working hours per week</td>
                <td>
                    <input type="input" name="workingHoursPerWeek" value="<%= @working_hours_per_week %>" size="4" />
                </td>
              </tr>
            </table>
        </div>
    </div>
    <p class="buttons">
        <%= link_to_function l(:button_apply), '$("#query_form").submit()', :class => 'icon icon-checked' %>
        <%= link_to l(:button_clear), { }, :class => 'icon icon-reload'  %>
    </p>
<% end %>

<div class="responsive-table">
    <table class="list">
        <thead>
            <tr>
                <th class="project-title">Project</th>
                <th class="total">Total</th>
                <% for day in 1..@days_in_month %>
                <th class="day"><%= day %></th>
                <% end %>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Total</th>
                <th class="total"><%= @global_sum %></th>
                <% for day in 1..@days_in_month %>
                    <th<% if @day_entries[day].presence and @day_entries[day] == 1 %> style="background: #628D20; color: #fff;"<% end %>>
                        <%= @day_entries[day].presence || 0 %>  
                    </th>
                <% end %>
            </tr>
        </tfoot>
        <tbody>
            <% if @projects.size > 0 and (@projects_entries.size > 0 or @show_non_imputed)  %>
                <% @projects.each do |project| %>
                    <% if @projects_entries[project.id].presence or @show_non_imputed %>
                        <tr>
                            <td style="text-align: left;">
                                <%= link_to_project(project, {}) %>  
                            </td>
                            <td class="total">
                                <%= @projects_entries[project.id].presence || 0 %>
                            </td>
                            <% for day in 1..@days_in_month %>
                                <% t_date = Time.new(@now.year, @now.month, day) %>
                                <% if t_date.saturday? or t_date.sunday? %>
                                    <td class="non-imputable">
                                        &nbsp;
                                    </td>
                                <% else %>
                                    <td>
                                        <abbr title="<%= @time_entries_full[[day, project.id]].presence || 0 %> hours">
                                            <%= @time_entries[[day, project.id]].presence || 0 %>
                                        </abbr>        
                                    </td>
                                <% end %>
                            <% end %>
                        </tr>
                    <% end %>
                <% end %>
            <% else %>
                <tr>
                    <td colspan="<%= @days_in_month + 2 %>">
                        No result
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
